.chartBox {
    display: flex;
    height: 100%;
}

.chartBox__boxInfo {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chartBox__boxInfo .title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chartBox__boxInfo h1 {
    font-size: 20px;
}

.chartBox__chartInfo {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chartBox__chart {
    width: 100%;
    height: 100%;
}

.chartBox__texts {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.chartBox__texts .percentage {
    font-weight: bold;
    font-size: 20px;
}

.chartBox__texts .duration {
    font-size: 14px;
}

@media screen and (max-width: 1400px) {
    .chartBox__boxInfo .title {
        font-size: 14px;
    }

    .chartBox__boxInfo h1 {
        font-size: 16px;
    }

    .chartBox__texts .percentage {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .chartBox {
        flex-direction: column;
    }
}
